<header id="site-header">
  <img src="{{ '/logo-temp.png'|asseturl }}">
  <ul>
    <li>{{ _('Step 1: Download Tor Browser') }}</li>
    <li>{{ _('Step 2: Connect to Tor') }}</li>
    <li>{{ _('Step 3: Access the Onion Service') }}</li>
    <li>{{ _('Step 4: Seek Support') }}</li>
  </ul>
</header>
