<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: 0;
      }
      #site-header {
        background-color: #f5f5f5;
        padding: 0 2%;
      }
      #site-header ul {
        list-style-type: none;
        padding-top: 10px;
        padding-bottom: 10px;
        float: right;
      }
      #site-header li {
        float: left;
        text-align: center;
        padding: 16px;
      }
      .container {
        margin: 0 auto;
        width: 70vw;
        text-align: center;
      }
      article > section:nth-child(2n) {
        background-color: #f5f5f5;
      }
    </style>
  </head>
  <body>
    {% include 'header.html' %}
    <article>
      <section>
        <div class="container">
          <h1>{{ this.title }}</h1>
          {{ this.subtitle }}
          <p>arrow goes here<br>|<br>V</p>
        </div>
      </section>
      {{ this.sections }}
    </article>
  </body>
</html>
